<p><strong>Chair:</strong><br>
Melissa Gilbert<br>
309 Gladfelter Hall<br>
<a href="tel:2152045482">(215) 204-5482</a><br>
<a href="mailto:mgilbert@temple.edu">mgilbert@temple.edu</a></p>
<hr>
<p><strong>Director:</strong><br>
Lee Hachadoorian<br>
334 Gladfelter Hall<br>
<a href="tel:2152043331">(215)204-3331</a><br>
<a href="mailto:Lee.Hachadoorian@temple.edu">Lee.Hachadoorian@temple.edu</a></p>
<hr>
<p><strong>Coordinator:</strong><br>
Julia Falcon<br>
338A Gladfelter Hall<br>
<a href="tel:2152043386">(215) 204-3386</a><br>
<a href="mailto:julia.falcon@temple.edu">julia.falcon@temple.edu</a></p>
